clientID/clientID/Service References/idService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52205/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceID.Model" />
  <xs:import schemaLocation="http://localhost:52205/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceID" />
  <xs:element name="GirisYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kulAd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GirisYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GirisYapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceID.Model" minOccurs="0" name="kul" nillable="true" type="q1:kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceID" minOccurs="0" name="composite" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceID" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>