clientID/clientID/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" />
  <xs:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" />
  <xs:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GirisYap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="kullanici" nillable="true" type="q1:kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GirisYapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GirisYapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="kul" nillable="true" type="q2:kullanici" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KayitOlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KayitOlResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="soru" nillable="true" type="q3:soru" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruEkleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="kategori" nillable="true" type="q4:kategori" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KategoriEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtiketEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="etiket" nillable="true" type="q5:etiket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtiketEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EtiketEkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyaCevapYaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="cevap" nillable="true" type="q6:cevap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruyaCevapYazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoruyaCevapYazResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabaYorumYaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" minOccurs="0" name="yorum" nillable="true" type="q7:yorum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevabaYorumYazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CevabaYorumYazResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruBaslik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoruAraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="SoruAraResult" nillable="true" type="q8:ArrayOfsorularim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriListele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KategoriListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="KategoriListeleResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtiketListele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EtiketListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EtiketListeleResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sorularim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SorularimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="SorularimResult" nillable="true" type="q11:ArrayOfsorularim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cevaplarim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevaplarimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="CevaplarimResult" nillable="true" type="q12:ArrayOfcevaplarim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Yorumlarim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YorumlarimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="YorumlarimResult" nillable="true" type="q13:ArrayOfyorumlarim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hangiSorum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hangiSorumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="hangiSorumResult" nillable="true" type="q14:sorularim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriSoruEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="soruId" type="xs:int" />
        <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavoriSoruEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="FavoriSoruEkleResult" type="q15:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BegeniCevap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapId" type="xs:int" />
        <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
        <xs:element minOccurs="0" name="begeniTuruId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BegeniCevapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BegeniCevapResult" type="q16:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BegeniSayisi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cevapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BegeniSayisiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" minOccurs="0" name="BegeniSayisiResult" nillable="true" type="q17:ArrayOfbegenilerim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapOnayla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
        <xs:element minOccurs="0" name="soruId" type="xs:int" />
        <xs:element minOccurs="0" name="cevapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CevapOnaylaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CevapOnaylaResult" type="q18:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifreGuncelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eski" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yeni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kulId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SifreGuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SifreGuncelleResult" type="q19:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>