clientID/clientID/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serviceID" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serviceID" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsorularim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sorularim" nillable="true" type="tns:sorularim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsorularim" nillable="true" type="tns:ArrayOfsorularim" />
  <xs:complexType name="sorularim">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtiketAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icerik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KategoriAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnayDurum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YayinTarihi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sorularim" nillable="true" type="tns:sorularim" />
</xs:schema>