clientID/clientID/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviceID.Model.DataModel" />
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" />
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/serviceID" />
      <xsd:import schemaLocation="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GirisYap_InputMessage">
    <wsdl:part name="parameters" element="tns:GirisYap" />
  </wsdl:message>
  <wsdl:message name="IService1_GirisYap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GirisYapResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KayitOl_InputMessage">
    <wsdl:part name="parameters" element="tns:KayitOl" />
  </wsdl:message>
  <wsdl:message name="IService1_KayitOl_OutputMessage">
    <wsdl:part name="parameters" element="tns:KayitOlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:KategoriEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:KategoriEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EtiketEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:EtiketEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_EtiketEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EtiketEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruyaCevapYaz_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruyaCevapYaz" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruyaCevapYaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruyaCevapYazResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CevabaYorumYaz_InputMessage">
    <wsdl:part name="parameters" element="tns:CevabaYorumYaz" />
  </wsdl:message>
  <wsdl:message name="IService1_CevabaYorumYaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevabaYorumYazResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruFavoriEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruFavoriEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruFavoriEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruFavoriEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sorular_InputMessage">
    <wsdl:part name="parameters" element="tns:Sorular" />
  </wsdl:message>
  <wsdl:message name="IService1_Sorular_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorularResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruAra_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruAra" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruAra_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruAraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruListele_InputMessage">
    <wsdl:part name="parameters" element="tns:SoruListele" />
  </wsdl:message>
  <wsdl:message name="IService1_SoruListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoruListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriListele_InputMessage">
    <wsdl:part name="parameters" element="tns:KategoriListele" />
  </wsdl:message>
  <wsdl:message name="IService1_KategoriListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:KategoriListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EtiketListele_InputMessage">
    <wsdl:part name="parameters" element="tns:EtiketListele" />
  </wsdl:message>
  <wsdl:message name="IService1_EtiketListele_OutputMessage">
    <wsdl:part name="parameters" element="tns:EtiketListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sorularim_InputMessage">
    <wsdl:part name="parameters" element="tns:Sorularim" />
  </wsdl:message>
  <wsdl:message name="IService1_Sorularim_OutputMessage">
    <wsdl:part name="parameters" element="tns:SorularimResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Cevaplarim_InputMessage">
    <wsdl:part name="parameters" element="tns:Cevaplarim" />
  </wsdl:message>
  <wsdl:message name="IService1_Cevaplarim_OutputMessage">
    <wsdl:part name="parameters" element="tns:CevaplarimResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Yorumlarim_InputMessage">
    <wsdl:part name="parameters" element="tns:Yorumlarim" />
  </wsdl:message>
  <wsdl:message name="IService1_Yorumlarim_OutputMessage">
    <wsdl:part name="parameters" element="tns:YorumlarimResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_hangiSorum_InputMessage">
    <wsdl:part name="parameters" element="tns:hangiSorum" />
  </wsdl:message>
  <wsdl:message name="IService1_hangiSorum_OutputMessage">
    <wsdl:part name="parameters" element="tns:hangiSorumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FavoriSoruEkle_InputMessage">
    <wsdl:part name="parameters" element="tns:FavoriSoruEkle" />
  </wsdl:message>
  <wsdl:message name="IService1_FavoriSoruEkle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriSoruEkleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BegeniCevap_InputMessage">
    <wsdl:part name="parameters" element="tns:BegeniCevap" />
  </wsdl:message>
  <wsdl:message name="IService1_BegeniCevap_OutputMessage">
    <wsdl:part name="parameters" element="tns:BegeniCevapResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GirisYap" message="tns:IService1_GirisYap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GirisYapResponse" message="tns:IService1_GirisYap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KayitOl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KayitOl" message="tns:IService1_KayitOl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KayitOlResponse" message="tns:IService1_KayitOl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoruEkle" message="tns:IService1_SoruEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoruEkleResponse" message="tns:IService1_SoruEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KategoriEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KategoriEkle" message="tns:IService1_KategoriEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KategoriEkleResponse" message="tns:IService1_KategoriEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EtiketEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EtiketEkle" message="tns:IService1_EtiketEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EtiketEkleResponse" message="tns:IService1_EtiketEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruyaCevapYaz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoruyaCevapYaz" message="tns:IService1_SoruyaCevapYaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoruyaCevapYazResponse" message="tns:IService1_SoruyaCevapYaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CevabaYorumYaz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CevabaYorumYaz" message="tns:IService1_CevabaYorumYaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CevabaYorumYazResponse" message="tns:IService1_CevabaYorumYaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruFavoriEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoruFavoriEkle" message="tns:IService1_SoruFavoriEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoruFavoriEkleResponse" message="tns:IService1_SoruFavoriEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sorular">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sorular" message="tns:IService1_Sorular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SorularResponse" message="tns:IService1_Sorular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoruAra" message="tns:IService1_SoruAra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoruAraResponse" message="tns:IService1_SoruAra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoruListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SoruListele" message="tns:IService1_SoruListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SoruListeleResponse" message="tns:IService1_SoruListele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KategoriListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KategoriListele" message="tns:IService1_KategoriListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KategoriListeleResponse" message="tns:IService1_KategoriListele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EtiketListele">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EtiketListele" message="tns:IService1_EtiketListele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EtiketListeleResponse" message="tns:IService1_EtiketListele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sorularim">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sorularim" message="tns:IService1_Sorularim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SorularimResponse" message="tns:IService1_Sorularim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cevaplarim">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Cevaplarim" message="tns:IService1_Cevaplarim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CevaplarimResponse" message="tns:IService1_Cevaplarim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Yorumlarim">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Yorumlarim" message="tns:IService1_Yorumlarim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/YorumlarimResponse" message="tns:IService1_Yorumlarim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hangiSorum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/hangiSorum" message="tns:IService1_hangiSorum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/hangiSorumResponse" message="tns:IService1_hangiSorum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavoriSoruEkle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FavoriSoruEkle" message="tns:IService1_FavoriSoruEkle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FavoriSoruEkleResponse" message="tns:IService1_FavoriSoruEkle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BegeniCevap">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BegeniCevap" message="tns:IService1_BegeniCevap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BegeniCevapResponse" message="tns:IService1_BegeniCevap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <soap:operation soapAction="http://tempuri.org/IService1/GirisYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KayitOl">
      <soap:operation soapAction="http://tempuri.org/IService1/KayitOl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/SoruEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KategoriEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/KategoriEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiketEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/EtiketEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruyaCevapYaz">
      <soap:operation soapAction="http://tempuri.org/IService1/SoruyaCevapYaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevabaYorumYaz">
      <soap:operation soapAction="http://tempuri.org/IService1/CevabaYorumYaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruFavoriEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/SoruFavoriEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sorular">
      <soap:operation soapAction="http://tempuri.org/IService1/Sorular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <soap:operation soapAction="http://tempuri.org/IService1/SoruAra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruListele">
      <soap:operation soapAction="http://tempuri.org/IService1/SoruListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KategoriListele">
      <soap:operation soapAction="http://tempuri.org/IService1/KategoriListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EtiketListele">
      <soap:operation soapAction="http://tempuri.org/IService1/EtiketListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sorularim">
      <soap:operation soapAction="http://tempuri.org/IService1/Sorularim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cevaplarim">
      <soap:operation soapAction="http://tempuri.org/IService1/Cevaplarim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Yorumlarim">
      <soap:operation soapAction="http://tempuri.org/IService1/Yorumlarim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hangiSorum">
      <soap:operation soapAction="http://tempuri.org/IService1/hangiSorum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavoriSoruEkle">
      <soap:operation soapAction="http://tempuri.org/IService1/FavoriSoruEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BegeniCevap">
      <soap:operation soapAction="http://tempuri.org/IService1/BegeniCevap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://mehmetgelmedi-001-site1.htempurl.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>