clientID/clientID/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serviceID.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsoruView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="soruView" nillable="true" type="tns:soruView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsoruView" nillable="true" type="tns:ArrayOfsoruView" />
  <xs:complexType name="soruView">
    <xs:sequence>
      <xs:element minOccurs="0" name="baslik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="etiketId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kategoriId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kullaniciId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="onayDurumu" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="soruIcerik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soruId" type="xs:int" />
      <xs:element minOccurs="0" name="yayinTarihi" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="soruView" nillable="true" type="tns:soruView" />
</xs:schema>